:root{
    --background: #ffffff;
    --shadow: 0 8px 25px rgba(140, 149, 159, 0.2);
    --border-style: 1px solid rgb(208, 215, 222);
    --action-blue: rgb(9, 105, 218);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.DropdownButton{
    color: rgb(0, 0, 0);
    background-color: white;
    border: var(--border-style);
    border-radius: 6px;
    padding: 10px;
}

.DropdownButton:active{
    background-color: var(--action-blue);
    color:#ffffff;
}

.dropdown-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: max-content;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 7px;
    user-select: none;
    list-style: none;
    background-color: var(--background);
    background-clip: padding-box;
    border: var(--border-style);
    border-radius: 6px;
    box-shadow: var(--shadow)
}

.dropdown-item {
    display: flex;
    justify-content: center;
    padding: 7px 12px 8px 1px;
    font-size: 14px;
    transition: background-color 80ms, color 80ms;
}

.dropdown-item > span{
    margin-right: auto;
    margin-top: 1px;
}

.dropdown-item > svg{
    margin: 0px 7px;
    width: 20px;
    height: 20px;
}

.dropdown-item:hover{
    background-color: rgb(9, 105, 218);
    color: white;
    cursor: pointer;
}

.dropdown-divider {
    display: block;
    height: 0;
    margin: 12px 0;
    border-top: 1px solid rgb(208, 215, 222);;
}

.dropdown-divider >small{
    margin-left: auto;
    position: relative;
    color: rgb(152, 153, 154);
    background-color: #ffffff;
    top: -12px;
    left: 5px;
    font-size: 12px;
}

.validation--info{
    font-size: 1px;
}

.dropdown-triangle {
    position: relative;
    left: 18px;
    height: 12px;
    top: -14px;
}
